@model BeeTube.UserProfile

@{
    ViewBag.Title = "Dashboard";
}
<style>
    .row {
        margin-bottom: 20px; /* Adjust the value as needed */
    }

</style>
<div>
    <h4>Creator Profile</h4>
    <hr />
        <div class="row">
            <div class="col-md-2">

                @Html.DisplayNameFor(model => model.FirstName) :

            </div>
            <div class="col-md-10">

                @Html.DisplayFor(model => model.FirstName)

            </div>

        </div>
        <div class="row">
            <div class="col-md-2">


                @Html.DisplayNameFor(model => model.LastName) :

            </div>
            <div class="col-md-10">

                @Html.DisplayFor(model => model.LastName)

            </div>

        </div>
        <div class="row">
            <div class="col-md-2">


                @Html.DisplayNameFor(model => model.DOB) :

            </div>
            <div class="col-md-10">

                @DateTime.Parse(@Model.DOB.ToString()).ToString("D")
                @*@Html.DisplayFor(model => model.DOB)*@

            </div>

        </div>
        <div class="row">
            <div class="col-md-2">


                @Html.DisplayNameFor(model => model.Gender) :

            </div>
            <div class="col-md-10">

                @Html.DisplayFor(model => model.Gender)

            </div>

        </div>

        <div class="row">
            <div class="col-md-2">


                @Html.DisplayNameFor(model => model.Country) :

            </div>
            <div class="col-md-10">

                @Html.DisplayFor(model => model.Country)

            </div>

        </div>




</div>
<p>
    @Html.ActionLink("Edit Profile", "EditProfile", new { id = Model.Id })
</p>
