@model BeeTube.Models.VideoViewModel

@{
    ViewBag.Title = "VideoDetails";
}
<style>
    #thumbnail-preview{
        max-height:300px;
    }
</style>

<div>
    <h4>Video</h4>
    <hr />
    <h5>Title : @Model.Video.Title</h5>
    <h5>Description : @Model.Video.Description</h5>
    <h5>Video Preview : </h5>
    <video controls style="height: 40vh;">
        <source src="~/@Model.Video.FilePath" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <h5>Thumbnail Preview : </h5>
    <img id="thumbnail-preview" src="~/@Model.Video.ThumbnailUrl" alt="Thumbnail Preview" />


    <br /><br />
    <h4>Comments</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment.CreatedAt)
            </th>


            <th></th>
        </tr>


        @foreach (var comment in Model.Comments)
        {
            <tr>

                <td>
                    @Html.DisplayFor(model => comment.User.Email)
                </td>

                <td>
                    @Html.DisplayFor(model => comment.Content)
                </td>

                <td>
                    @Html.DisplayFor(model => comment.CreatedAt)
                </td>





            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "EditVideo", new { id = Model.Video.Id }) |
    @Html.ActionLink("Delete", "DeleteVideo", new { id = Model.Video.Id }) |
    @Html.ActionLink("Back to List", "Videos")
</p>
