@model IEnumerable<BeeTube.Video>


<style>
    .video-preview,
    .thumbnail-preview {
        display: block;
        max-width: 100%;
        height: auto;
        max-height:200px;
    }

</style>

<p>
    @Html.ActionLink("Upload New", "UploadVideo", "Creator", new { @class = "btn btn-outline-success" }) 
    @Html.ActionLink("Go to Dashboard", "Dashboard", "Creator", new { @class = "btn btn-outline-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <!--<th>-->
            @*@Html.DisplayNameFor(model => model.FilePath)*@
            <!--Video Preview
        </th>-->
        <th>
            @*@Html.DisplayNameFor(model => model.ThumbnailUrl)*@
            Thumbnail Preview
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>*@
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @{
                if (item.Duration != null)
                {
                    var duration = (TimeSpan)item.Duration;
                    var formattedDuration = duration.ToString(@"hh\:mm\:ss");
                    @formattedDuration
                }

            }

        </td>

        @*<td>
            @Html.DisplayFor(modelItem => ((TimeSpan)item.Duration).ToString(@"hh\:mm\:ss"))
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UploadDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThumbnailUrl)
        </td>*@
    @*<td>
       
        <video controls class="video-preview">
            <source src="~/@item.FilePath" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        

    </td>*@

        <td>
            <img src="~/@item.ThumbnailUrl" alt="Thumbnail Preview" class="thumbnail-preview" />
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>*@
    <td>
        @*@Html.ActionLink("Edit", "EditVideo", new { id = item.Id }) |*@
        @Html.ActionLink("Open", "VideoDetails", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
        

        @*@Html.ActionLink("Delete", "DeleteVideo", new { id = item.Id })*@
    </td>
    </tr>
}

</table>
